/* ----------------------------- */
/* ==Sliders   */
/* ----------------------------- */

.wrapper_slider {
  width: 100%;
  display: block;
  overflow: hidden;
}

.slider_full {
  //margin-top: $large-value;
  margin-bottom: $large-value;
  max-height: 500px;
  overflow: hidden;
  max-width: 100%;
  .flickity-viewport {
    position: relative;
    left: 100%;
    opacity: 0;
    transition: left .8s cubic-bezier(.17,.67,.1,1), opacity .6s cubic-bezier(.17,.67,.1,1) .2s;
    &.animleft {
      left: 0;
      opacity: 1;
    }
  }

  img {
    margin-right: 10px;
    display: block;
    width: 40%;
    @media (max-width: $tiny) {
      width: 100%;
    }
  }
  @media (max-width: $tiny) {
    margin-top: 0;
    margin-bottom: 0;
  }
  .flickity-viewport {
    &::before,
    &::after {
      content: '';
      display: block;
    }

    &::after {
      //padding-top: 88%;
      padding-top: 33%;
      @media (max-width: $tiny) {
        padding-top: 81%;
      }
      @media (min-width: $small) and (max-width: $medium) and (orientation: portrait) {
        padding-top: 35%;
      }
    }
  }
}

.slider_ipad {
  display: block;
  background: $alpha-color;
  padding: 6rem 4rem;
  border-radius: 21px;
  box-shadow: 0px 50px 70px 0px rgba(0, 0, 0, 0.1);
  .flickity-viewport {
    background: #F6F6F6;
    border: 1px solid #E2E9E9;
    border-radius: 3px;
    .flickity-slider {
      width: 100.5% !important;
    }
  }
  img {
    height: auto;
    width: 100%;
  }
  @media (max-width: $tiny) {
    padding: 2rem 4rem;
  }

  & + .button-row {
    @media ( max-width: ( $small - 1 ) ) {
      margin-top: 3rem;
      margin-bottom: 11rem;
    }

    @media ( min-width: $small ) {
      margin-top: 5.3rem;
    }
  }
  .flickity-viewport {
    &::before,
    &::after {
      content: "";
      display: block;
    }

    &::after {
      // % = height ÷ width
      padding-top: 65%;
    }
  }
}

.slider_mobile {
  display: block;
  background: url(../images/bg-slide-phone.png) no-repeat 0 0;
  margin: 0 auto;
  img {
    height: auto;
    width: 100%;
  }
  @media (max-width: ($tiny - 1)) {
    height: 585px;
    width: 100%;
    padding: 21.2191% 16.1904% 17.5561% 17.1428%;
    background-size: 100% auto;
  }
  @media (min-width: $tiny) {
    height: 712px;
    width: 420px;
    padding: 85px 69px 125px;
  }
  .flickity-viewport {
    &::before,
    &::after {
      content: "";
      display: block;
    }

    &::after {
      // % = height ÷ width
      padding-top: 178%;
    }
  }
}

.fullMove {
  position: relative;
  top: 100px;
  opacity: 0;
  transition: top .8s ease, opacity .7s ease .1s;
  &.move {
    top: 0;
    opacity: 1;
  }
}

.button-row {
  display: flex;

  button {
    background: none;
    border: none;
    overflow: hidden;
    position: relative;
  }

  .button, .button-group {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    height: 1.6rem;
    line-height: 1.6rem;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  .button--previous {
    margin-left: auto;
    margin-right: 20px;
  }

  .button--next {
    margin-right: auto;
    margin-left: 20px;

    img {
      transform: rotate(180deg);
    }

  }

  .button-group {
    button {
      background: rgba(0,0,0,.21);
      width: 5px;
      height: 5px;
      border-radius: 100%;
      padding: 0;
      margin: 0 10px;
      &.is-selected {
        background: rgba(0,0,0,1);
      }
      span {
        display: block;
        position: absolute;
        left: -20px;
        top: -20px;
      }
    }
  }

}
