@font-face {
  font-family: 'gotham_htfbold';
  src: url('../fonts/gothamhtf-bold_1-webfont.woff2') format('woff2'),
       url('../fonts/gothamhtf-bold_1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_htfbook';
  src: url('../fonts/gothamhtf-book-webfont.woff2') format('woff2'),
       url('../../fonts/gothamhtf-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_htflight';
  src: url('../fonts/gothamhtf-light-webfont.woff2') format('woff2'),
       url('../fonts/gothamhtf-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham_htfmedium';
  src: url('../fonts/gothamhtf-medium-webfont.woff2') format('woff2'),
       url('../fonts/gothamhtf-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}