// Config file and project variables

// font sizes
$base-font-size : 1.7rem !default; // ex. 1.8rem would be "18px" equivalent
$line-height    : 1.6 !default; // equiv line-height 1.5
$h1-size        : 6rem !default; // equiv "42px"
$h2-size        : 4rem !default; // equiv "24px"
$h3-size        : 2.1rem !default; // equiv "20px"
$h4-size        : 1.8rem !default; // equiv "18px"
$h5-size        : 1.7rem !default; // equiv "17px"
$h6-size        : 1.6rem !default; // equiv "16px"

// font stacks
$font-stack-common    : 'Sentinel SSm A', 'Sentinel SSm B', serif !default; // common font
$font-stack-headings  : 'Gotham SSm A', 'Gotham SSm B', helvetica, sans-serif !default; // headings font
$font-stack-monospace : consolas, courier, monospace !default; // monospace font

// colors (content and/or backgrounds)
$base-color     : #545664 !default;
$alpha-color    : #fff !default;
$beta-color     : rgba(5,6,15,0.5) !default;
$gamma-color    : #000 !default;
$delta-color    : #05060F !default;
$epsilon-color  : rgba(0,0,0,.6) !default;
$zeta-color     : #979797 !default;
$theta-color    : #FBFBFB !default;
$yellow					:	#FFD800 !default;
$base-darker  	:	#1D212C !default;
$base-lighter  	:	#9A9CA0 !default;
$alpha-darker  	:	#F4F7F7 !default;
$blue    				: #003AFF !default;

// spacings (choose unit you prefer)
$tiny-value             : .5rem !default; // tiny value for margins / paddings
$tiny-plus-value        : .7rem !default; // tiny+ value for margins / paddings
$small-value            : 1rem !default; // small value for margins / paddings
$small-plus-value       : 1.5rem !default; // small+ value for margins / paddings
$medium-value           : 2rem !default; // medium value for margins / paddings
$medium-plus-value      : 3rem !default; // medium+ value for margins / paddings
$large-value            : 4rem !default; // large value for margins / paddings
$large-plus-value       : 6rem !default; // large value for margins / paddings
$extra-large-value      : 8rem !default; // extra large value for margins / paddings
$extra-large-plus-value : 12rem !default; // extra large value for margins / paddings
$ultra-large-value      : 16rem !default; // ultra large value for margins / paddings
$ultra-large-plus-value : 20rem !default; // ultra large value for margins / paddings

//kna-namespace (default : null)
$kna-namespace: null !default;

//chat variables

$body-bg: 						#f5f5f5;
$white:								#fff;
$white-darker:				#FCF8F8;
$gray-light:					#e9dede;


//couleurs texte
$color-base: 					#363636;
$color-prim: 					#4F4F4F;
$color-sec:						#4B6AFF;
$color-sec-light: 		#EAF2F7;

//bulles de dialogue (questions/reponses)
$bulle-quest-bg:			$white;
$bulle-resp-bg:				#333A47;

$error-color:					#FF576E;
$ok-color:						#03DFFF;

//Buttons
$color-base-button:		$color-sec;

//font size
$size-default:				16px;
$size-h1:							floor(($size-default * 1.25));
$size-h2:							floor(($size-default * 1.25));



//interligne
$line-height-default:	20px;


//margin
$margin-default:			20px;
