/* ----------------------------- */
/* ==HEADER                  */
/* ----------------------------- */


#masthead {
  position: fixed;
  top: -7rem;
  left: 0;
  height: 7rem;
  z-index: 200;
  width: 100%;
  opacity: 0;
  transition: top .8s ease, opacity .4s ease .4s;
  h1 {
    margin: 0;
    transition: transform .3s ease;
    &, & a {
      @media (max-width: ($small - 1)) {
        line-height: 3.5rem;
        display: inline-block;
      }
      @media (min-width: $small) {
        line-height: 6rem;
      }
    }
  }
  .black {
    display: none;
    @media (max-width: ($small - 1)) {
      display: inline-block !important;
    }
  }
  .white {
    @media (max-width: ($small - 1)) {
      display: none !important;
    }
  }
  &.color-dark, &.color- {
    .black {
      display: block;
      margin-top: 15px;
    }
    .white {
      display: none;
    }
  }
  @media (max-width: ($small - 1)) {
    height: 5rem;
    background: $alpha-color;

  }
}

/* burger menu
----------------------*/
  $size: 2rem;
  $thickness: .2rem;
  $gap: .3rem;
  $color: #05060F;
  $roundCap: true;

  .burger {
    transition: all .3s ease;
    position: relative;
    z-index: 100;

    @media (max-width: $tiny) {
      transform: translate(0, 0);
      position: fixed;
      top: 0;
      right: 15px;
    }

    @media ( min-width: ( $tiny + 1 ) ) and ( max-width: ( $small - 1 ) ) {
      transform: translate(0, 0);
      position: fixed;
      top: 0;
      right: 15px;
    }
    @media ( min-width: $small ) {
      transform: translate(0, -150px);
    }
    input {
      display: none;
    }

    span {
      transition: all .3s ease;
      &:after, &:before {
        transition: all .3s ease;
      }
    }

  }


  .label {
    display: block;
    width: $size;
    height: ($thickness * 3 + $gap * 2);
    position: relative;
    cursor: pointer;
    margin: 0;
    top: 2.8rem !important;
    @media ( max-width: ($small - 1 ) ) {
      top: 1.8rem !important;
    }
    span {
      position: relative;
      top: $thickness + $gap;

      &,
      &:before,
      &:after {
        display: block;
        background: $color;
        width: $size;
        height: $thickness;
        @if $roundCap {
          border-radius: $thickness / 2;
        }
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
      }

      &:before {
        bottom: $gap + $thickness;
      }

      &:after {
        top: $gap + $thickness;
      }

      :checked ~ & {

        .burger & {
          width: 0;
          &:before {
             transform: rotate(45deg);
             bottom: 0;
          }
          &:after {
            transform: rotate(-45deg);
            top: 0;
          }
        }

      }
    }
  }

  #masthead {
    &.color-white {
      .burger {
        .label {
          span {
            &,
            &:before,
            &:after {
              background: $alpha-color;
              @media (max-width: ($small - 1)) {
                background: $delta-color !important;
              }
            }
          }
        }
      }
      &.dark {
        .burger {
          .label {
            span {
              &,
              &:before,
              &:after {
                background: $delta-color;
              }
            }
          }
        }
        @media (max-width: $tiny) {
          .logo {
            .white {
              display: none;
            }
            .black {
              display: inline-block;
            }
          }
        }
      }
      &.open {
        .burger {
          .label {
            span {
              &,
              &:before,
              &:after {
                background: $delta-color;
              }
            }
          }
        }
        &.dark {
          .burger {
            .label {
              span {
                &,
                &:before,
                &:after {
                  background: $delta-color;
                }
              }
            }
          }
        }
      }
    }
  }

  /*    @main navigation
  ------------------------------------*/

#navigation {
  list-style-type: none;
  list-style-position: outside;
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  height: 7rem;
  li {
    font-family: $font-stack-headings;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 3rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;

    &.hover {
      background: $base-color;
    }
    a {
      color: $delta-color;
      display: block;
      padding: 0 3rem;
      position: relative;
      overflow: hidden;
      span {
        position: relative;
        z-index: 10;
        white-space: nowrap;
      }
    }
  }
}

.no-touch {
  #navigation {
    li {
      a {
        &,
        &:before {
          transition: left 0.3s ease;
        }
        &:before {
          background: $delta-color;
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: -100%;
          height: 100%;
          width: 100%;
          z-index: 0;
        }
        &.left:before {
          left: -100%;
        }
        &.right:before {
          left: 100%;
        }
        &.before:before, &.after:after {
          width: 100%;
        }
        &.before, &.after,
        &:hover, &:focus {
          text-decoration: none;
          color: $alpha-color;
          &:before {
            left: 0;
          }
        }
      }
      &:nth-last-child(1) {
        a {
          margin-right: 0;
        }
      }
      &.current-menu-item {
        a {
          //background: $delta-color;
          text-decoration: none;
          color: $alpha-color;
          &:before {
            left: 0;
          }
        }
        &.normal-item {
          a {
            color: $delta-color;
            &.right:before {
              left: 100%;
            }
            &.left:before {
              left: -100%;
            }
          }
        }
      }
    }
  }
  #masthead {
    &.color-white {
      #navigation {
        li {
          &.hover {
            background: $alpha-color;
          }
          a {
            color: $alpha-color;
            &:before {
              background: $alpha-color;
            }
            &.before, &.after,
            &:hover, &:focus {
              color: $delta-color;
            }
          }
          &.current-menu-item {
            a {
              //background: $alpha-color;
              text-decoration: none;
              color: $delta-color;
              &:before {
                left: 0;
              }
            }
            &.normal-item {
              a {
                color: $alpha-color;
                &.right:before {
                  left: 100%;
                }
                &.left:before {
                  left: -100%;
                }
              }
            }
          }
        }
      }
      &.fixed {
        #navigation {
          li {
            &.hover {
              background: $delta-color;
            }
            a {
              color: $delta-color;
              &:before {
                background: $delta-color;
              }
              &.before, &.after,
              &:hover, &:focus {
                color: $alpha-color;
              }
            }
          }
        }
      }
      &.open {
        #navigation {
          li {
            &.hover {
              background: $delta-color;
            }
            a {
              color: $delta-color;
              &:before {
                background: $delta-color;
              }
              &.before, &.after,
              &:hover, &:focus {
                color: $alpha-color;
              }
            }
            &.current-menu-item {
              a {
                color: $alpha-color;
                &:before {
                  left: 0;
                }
              }
              &.normal-item {
                a {
                  color: $delta-color;
                  &.right:before {
                    left: 100%;
                  }
                  &.left:before {
                    left: -100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.touch {
  #navigation {
    li {
      a {
        &:hover, &:focus {
          background: $delta-color;
          text-decoration: none;
          color: $alpha-color;
        }
      }
      &.current-menu-item {
        a {
          background: $delta-color;
          text-decoration: none;
          color: $alpha-color;
        }
      }
    }
  }
  #masthead {
    &.color-white {
      &:not(.open) {
        #navigation {
          li {
            a {
              &:hover, &:focus {
                background: $alpha-color;
                text-decoration: none;
                color: $delta-color;
              }
            }
            &.current-menu-item {
              a {
                background: $alpha-color;
                text-decoration: none;
                color: $delta-color;
              }
            }
          }
        }
      }
      &.open {
        #navigation {
          li {
            a {
              &:hover, &:focus {
                background: $delta-color;
                text-decoration: none;
                color: $alpha-color;
              }
            }
            &.current-menu-item {
              a {
                background: $delta-color;
                text-decoration: none;
                color: $alpha-color;
              }
            }
          }
        }
      }
    }
  }
}

#masthead {
  &.open {
    .logo {
      &, a {
        line-height: 6rem;
        height: 6rem;
        display: inline-block;
        .white {
          display: none;
        }
        .black {
          display: inline-block;
        }
      }
    }
  }
  &.color-white {
    #navigation {
      li {
        &.hover {
          background: $alpha-color;
        }
        a {
          color: $alpha-color;
          &:before {
            background: $alpha-color;
          }
          &.before, &.after,
          &:hover, &:focus {
            color: $delta-color;
          }
        }
      }
    }
    &.fixed, &.open {
      #navigation {
        li {
          &.hover {
            background: $delta-color;
          }
          a {
            color: $delta-color;
            &:before {
              background: $delta-color;
            }
            &.before, &.after,
            &:hover, &:focus {
              color: $alpha-color;
            }
          }
        }
      }
    }
    &.dark {
      .logo {
        .white {
          display: none;
        }
        .black {
          display: inline-block;
        }
      }
    }
  }
}

#masthead {

  @media ( max-width: ($small - 1 ) ) {

    .bLeft {
      position: absolute;
      top: 0;
      left: 15px;
      h1, h1 a {
        line-height: 4rem;
      }
    }

    #wrapper-nav {
      display: flex;
      position: fixed;
      top: -100vh;
      left: 0;
      width: 100%;
      height: 100vh;
      background: $alpha-color;
      transition: top .3s ease;
      ul {
        margin: auto;
        display: block;
        height: auto !important;
        li {
          font-size: $h2-size;
          font-weight: 400;
          text-transform: none;
          line-height: 5rem;
          margin: 1rem 4rem;
          display: block;
          position: relative;
          @media (max-width: ( $small - 1 )) {
            font-size: 3rem;
            margin: 0 3rem;
          }

          &:nth-child(1):before {
            content: '01';
          }
          &:nth-child(2):before {
            content: '02';
          }
          &:nth-child(3):before {
            content: '03';
          }
          &:nth-child(4):before {
            content: '04';
          }
          &:nth-child(5):before {
            content: '05';
          }
          &:nth-child(6):before {
            content: '06';
          }
          &:nth-child(7):before {
            content: '07';
          }
          &:nth-child(8):before {
            content: '08';
          }
          &:nth-child(9):before {
            content: '09';
          }
          &:before {
            line-height: 1.2;
            display: block;
            width: 100%;
            font-size: 1.4rem;
            color: $delta-color;
          }
        }
      }
    }
  }

  @media (min-width: $small) and (max-width: $medium ) and (orientation: portrait) {
    &.fixed {
      #wrapper-nav {
        ul {
         li {
            font-size: 3.5rem !important;
          }
        }
      }
    }
  }


  @media ( min-width: $small ) {
    &.fixed {


      h1 { margin-top: -150px; transform: translate(0, -57rem); }
      .burger {
        transform: translate(0, 0);
      }

      #wrapper-nav {
        display: flex;
        position: fixed;
        top: -57rem;
        left: 0;
        width: 100%;
        height: 57rem;
        background: $alpha-color;
        transition: top .3s ease;
        ul {
          display: flex;
          justify-content: space-between;
          margin: auto;
          li {
            font-size: 4rem;
            font-weight: 400;
            text-transform: none;
            line-height: 7rem;
            margin: auto;
            position: relative;
            &:nth-child(even) {
              top: -4rem;
            }
            &:nth-child(odd) {
              top: 4rem;
            }
            &:nth-child(1):before {
              content: '01';
            }
            &:nth-child(2):before {
              content: '02';
            }
            &:nth-child(3):before {
              content: '03';
            }
            &:nth-child(4):before {
              content: '04';
            }
            &:nth-child(5):before {
              content: '05';
            }
            &:nth-child(6):before {
              content: '06';
            }
            &:nth-child(7):before {
              content: '07';
            }
            &:nth-child(8):before {
              content: '08';
            }
            &:nth-child(9):before {
              content: '09';
            }
            &:before {
              line-height: 1.2;
              display: block;
              width: 100%;
              font-size: 1.4rem;
              color: $delta-color;
            }
          }
        }
      }
    }
  }
  @media (min-width: $small) and (max-width: $medium) and(orientation: landscape) {
    &.fixed {

      #wrapper-nav {
        ul {
          li {
            font-size: 5rem;
          }
        }
      }
    }
  }

}

#masthead {
  &.open {
    h1 {
      margin-top: 0;
      transform: translate(0, 0);
      position: relative;
      z-index: 100;
    }
    #wrapper-nav {
      top: 0;
    }
  }
}

.load {
  #masthead {
    top: 0;
    opacity: 1;
  }
}


